# Pliki środowiskowe i sekretne klucze
.env
.env.local
LINK_ZAPROSZENIA.txt

# Logi
*.log
bot.log
bot_state.json

# Środowisko wirtualne Pythona
venv/
ENV/
env/
.venv/

# Cache i kompilacja Pythona
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
*.zip

# Pliki środowisk programistycznych i edytorów
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Pliki binarne FFmpeg
ffmpeg.exe
ffplay.exe
ffprobe.exe
