[Unit]
Description=SubWoofer Discord Music Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/subwoofer
ExecStart=/opt/subwoofer/venv/bin/python main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
